*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
:root{
    --bg-color:#ffffff;
    --txt-clr:#000000;
    --main-clr:#f0f0f0;
    --otr-clr:#ffc633;
    --scnd-clr:#616060;

    --h1-fnt:5.5rem;
    --h2-fnt:3.5rem;
    --p-fnt:1rem;


}
body{
    background: var(--bg-color);
    color: var(--txt-clr);
    overflow-x: hidden;
}
header{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background: var(--otr-clr);
    box-shadow: 0 1px 6px 0 rgb(32, 33, 36 /5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
}

.navList{
    display: flex;
}
.navList a{
    display: inline-block;
    margin: 0 30px;
    font-size: var(--p-fnt);
    font-weight: 500;
    color: var(--txt-clr);
    transition: all .5s;
}
.navList a:hover{
    transform:translateY(-4px);
    color: var(--scnd-clr);
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right a{
    display: inline-block;
    font-size: 22px;
    color: var(--txt-clr);
    margin: 0 20px;
    transition: all .5s;

}
.nav-right a:hover{
    transform:  translateY(-5px) scale(1.2);
}
#menu-icon{
    font-size: 35px;
    color: var(--txt-clr);
    z-index: 101;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
section{
    padding: 90px 14% 70px;
 
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(img/bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.home-txt{
    padding-top: 60px;

}
.home-txt h1{
    font-size: var(--h1-fnt);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;

}
.home-txt h6{
    font-size: 15px;
    font-weight: 500;
    color: var(--scnd-clr);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home-txt p{
    width: 100%;
    max-width: 560px;
    font-size: var(--p-fnt);
    font-weight: 400;
    color: var(--scnd-clr);
    line-height: 33px;
    margin-bottom: 35px;
}

.btn{
    display: inline-block;
    padding: 14px ;
    background: var(--txt-clr);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all .5s;


}
.btn:hover{
    transform: scale(1.1) translateY(-6px);
    border: 2px solid var(--txt-clr);
    background: transparent;
    color: var(--txt-clr);

}
.btn i{
    margin-left: 9px;
}
.center-txt{
    text-align: center;
}
.center-txt h2{
    font-size: var(--h2-fnt);
    font-weight: 700;

}
.n-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
}
.row-img{
    overflow: hidden;
    border-radius: 28px;
    margin-bottom: 15px;
}
.row-img img{
    display: block;
    width: 100%;
    transition: transform .5s;
}
.row-img:hover img{
    transform: scale(1.1);
}
.row h3{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}
.row-right{
    text-align: right;
}
.row-right h6{
    font-size: 19px;
    font-weight: 600;
    color: var(--scnd-clr);
}
.n-btn{
    text-align: center;
    margin-top: 4rem;
}
.btn2{
    display: inline-block;
    padding: 14px 42px;
    background: transparent;
    color: var(--txt-clr);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--scnd-clr);
    border-radius: 30px; 
    transition: all .6s;   
}
.btn2:hover{
    background: var(--txt-clr);
    border: 1px solid var(--txt-clr);
    color: var(--bg-color);
    transform: scale(0.9) translateY(10px);
}
.services{
    padding:10px 14% 10px ;

}
.services-content{
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;


}
.box{
    padding: 15px 15px 15px 30px;
    border-left: 4px solid var(--scnd-clr);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: all .5s;
}

f-text h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
f-text p{
    font-size: var(--p-fnt);
    font-weight: 400;
    color: var(--txt-clr);
    line-height: 20px;
}
.btn3{
    display:inline-block;
    padding: 10px 20px;
    background-color: #ff7b00;
    color: #fff;
    border-radius: 0.5rem;
    border: 2px solid #fff;
    transition: all .5s;
}
.btn3:hover{
    background-color: #fff;
    color:#ff7b00 ;
    border: 2px solid #ff7b00;

    transform: scale(1.2) translateY(10px);
}
.newsletter-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    background: var(--txt-clr);
    padding: 60px 70px;
    border-radius: 30px;
}
.txt h2{
    color: var(--bg-color);
    font-size: var(--h2-fnt);
    font-weight: 800;
}
.txt p{
    font-size: var(--p-fnt);
    font-weight: 500;
    color: var(--bg-color);
}
.newsletter-content form{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.newsletter-content form input:first-child{
    border: none;
    outline: none;
    padding: 15px;
    background: var(--bg-color);
    font-size: var(--p-fnt);
    color: var(--txt-clr);
    border-radius: 5px;
}
.newsletter-content form input:last-child{
    border-radius: 5px;
    font-size: var(--p-fnt);
    cursor: pointer;


}
.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}
.footer-box{
    display: flex;
    flex-direction: column;

}
.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;

}
.footer-box a{
color: var(--scnd-clr);
margin-bottom: 0.8rem ;
transition: all .5s ease;
}
.footer-box a:hover{
    transform: translateX(-5px);
    color: var(--txt-clr);
}
.Contact-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.Social-media{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Social-media a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}
.Social-media a:hover{
    transform: scale(1.2);
    color: rgba(151, 73, 9, 0.726);
    background: var(--text-color);
}
#msg{
    color: var(--bg-color);
    margin-top: 10px;
    display: block;
}


.body{
    display: flex;
    justify-content: center;
}
.preWrapper{
    position: absolute;
    width: 50%;
    height: 10%;
    color: black;
    top: 30%;
    right: 20%;
    z-index: 1000;
}
.wrapper{
    top: 30%;
    position: absolute;
    z-index: 100;
    height: 440px;
    width: 70%;
   
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s;
    overflow: hidden;
    transform: scale(1);
    
}

.wrapper.active{
    height: 520px;
}



.wrapper .icon{
    color: black;
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    line-height:57px ;
}


.wrapper .form-box-login {
    width: 100%;
    padding: 40px;
    transition: transform .18s ease ;
    transform: translateX(0);
}
.wrapper.active .form-box-login {
    transition: none;
    transform: translateX(-8000px);
    
}
.wrapper .form-box-register{
    position: absolute;
    transition: none;
    transform: translateX(8000px);
}
.wrapper.active .form-box-register{
    transition: transform .18s ease ;
    transform: translateX(0);
}

.form-box-login h2{
    font-size: 2rem;
    color:#162938 ;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938 ;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;

}
.input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.remember{
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}
.remember login input{
    accent-color: #162938;
    margin-right: 3px;

}
.remember a{
    color: #162938 ;
    text-decoration: none;

}
.remember a:hover{
    text-decoration: underline;
}
.btn-login{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;

    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;

}



.login-register{
    font-size:.9rem ;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a{
    text-decoration: underline;
}
.RecoverBody{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: url(img/5183000.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
.EmailWrapper{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    
    border: 2px solid;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);

    background: #ffc633;
    margin: 60px;
}
.EmailIn{
    width: 300px;
    height: 50px;
    margin-top: 100px;
}
.EmailSubmit{
    margin-top: 80px;
    width: 80%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    margin-left:10%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}












@media(max-width: 1610px){
    header{
        padding: 15px 7% ;
    }
    section{
        padding: 70px 7% 80px;

    }
    .services{
        padding: 10px 7% 10px;
    }
   
}
@media(max-width: 1500){
    .home{
        height: 90vh;
    }
    :root{
        --h1-fnt:4.8rem;
        --h2-fnt:2.8rem;
        --p-fnt:15px;
    }
}
@media(max-width: 1170px){
    header{
        padding: 10px 4% ;
    }
    section{
        padding: 60px 4% 70px;

    }
    .services{
        padding: 10px 4% 10px;
    }
    .services-content{
        flex-wrap: wrap;

    }
    .newsletter-content{
        grid-template-columns: repeat(auto-fit,minmax(300px, auto));
    }
}
@media(max-width: 1050px){
    #menu-icon{
        display: block;

    }
    .navList{
        position: absolute;
        width: 100% ;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        right: 0;
        left: 100%;
        bottom: 0;
        display: flex ;
        flex-direction: column;
        background-color: var(--bg-color);
        transition: all .5s ease;

    }
    .navList a{
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 30px 0px;
        font-size: 2rem;
        font-weight: 400;

    }
    .navList.open{
        left: 0;
    }
    :root{
        --h1-fnt:4.5rem;
        --h2-fnt:2.6rem;
    }
    .newsletter-content form input:first-child{
        padding: 8px;
    }
    .newsletter-content form input:last-child{
        font-size: 12px;
    }
}
@media(max-width: 530px){
    :root{
        --h1-fnt:3.5rem;
        --h2-fnt:2.2rem;
        
    }
    .btn{
        padding: 12px 20px;
    }
    .nav-right{
        margin-right: 7px ;
    }
    

.wrapper .icon{
   
    font-size: 0.8rem;
}
.wrapper .form-box-login {
    padding: 20px;
}
.form-box-login h2{
    font-size: 1.2rem;
    color:#162938 ;
    text-align: center;
}
.input-box input{

    font-size: .5rem;
    color: #162938;
    font-weight: 400;
    padding: 0 35px 0 5px;
}
.remember{
    font-size: 0.65rem;

}
.btn-login{

    height: 30px;
    
    
    font-size: .8rem;
    

}
.login-register{
    font-size:.7rem ;

}

}
@media(max-width: 400px){
    .newsletter-content form input:first-child{
        padding: 3px;
    }
    .newsletter-content form input:last-child{
        font-size: 4px;
    }
}